/*!
Theme Name: brainfuel2017
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: brainfuel2017
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

brainfuel2017 is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
  font-family: 'OMK_handwritten';
  src: url("./font/OMK_handwritten.eot");
  src: url("./font/OMK_handwritten.eot?#iefix") format("embedded-opentype"), url("./font/OMK_handwritten.woff") format("woff"), url("./font/OMK_handwritten.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0px;
  -webkit-margin-before: 0px;
  color: #98567D; }

h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px; }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 30px;
      line-height: 40px; } }

h2 {
  font-size: 30px; }
  @media screen and (max-width: 450px) {
    h2 {
      line-height: 35px;
      font-size: 27px; } }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

.site-content, .site-header {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .site-content:after, .site-header:after {
    content: " ";
    display: block;
    clear: both; }

.videoHeader .right iframe {
  -webkit-box-shadow: 0px 0px 20px 0px #000000;
          box-shadow: 0px 0px 20px 0px #000000; }

.site-header {
  margin-bottom: 60px; }
  @media screen and (max-width: 450px) {
    .site-header {
      margin-bottom: 20px; } }
  .site-header .site-branding {
    width: 200px;
    display: inline-block; }
    @media screen and (max-width: 450px) {
      .site-header .site-branding {
        width: 140px; } }
    .site-header .site-branding a {
      margin-top: 35px;
      display: block; }
      @media screen and (max-width: 450px) {
        .site-header .site-branding a {
          margin-top: 15px; } }
      .site-header .site-branding a img {
        max-width: 100%; }
  .site-header .btn.header {
    float: right;
    margin-top: 0px;
    padding: 8px 13px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    position: fixed;
    right: 20px; }
  .site-header .btn:visited {
    color: #ffffff; }

body {
  background: url("././images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media screen and (max-width: 768px) {
    body {
      background-attachment: scrol; } }

#background_wrap {
  visibility: hidden; }
  @media only screen and (max-device-width: 768px) {
    #background_wrap {
      visibility: visible;
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: 300%;
      background-image: url("././images/space.jpg");
      background-attachment: fixed;
      background-position-x: -100px; } }

.unboxed {
  color: #ffffff;
  margin-bottom: 45px; }
  .unboxed h1, .unboxed h2, .unboxed h3, .unboxed h4, .unboxed h5, .unboxed h6 {
    color: #ffffff; }
  .unboxed:after {
    content: "";
    clear: both;
    display: block; }
  .unboxed .left {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%; }
    @media screen and (max-width: 768px) {
      .unboxed .left {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
  .unboxed .right {
    width: 47.8260869565%;
    float: right;
    margin-right: 0; }
    @media screen and (max-width: 768px) {
      .unboxed .right {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
  .unboxed .mid {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .unboxed .mid {
        padding: 0px; } }
    @media screen and (max-width: 500px) {
      .unboxed .mid .backButton {
        text-align: left; } }
    .unboxed .mid p {
      max-width: 60%;
      margin: 0px auto; }
      @media screen and (max-width: 768px) {
        .unboxed .mid p {
          max-width: 80%; } }
      @media screen and (max-width: 500px) {
        .unboxed .mid p {
          max-width: 100%; } }
  .unboxed .chooseImg {
    text-align: center; }
    .unboxed .chooseImg img.choose {
      margin-left: auto;
      margin-right: auto; }

.boxed {
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 45px; }
  .boxed .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media screen and (max-width: 768px) {
      .boxed .container {
        display: block; } }
    .boxed .container:after {
      content: "";
      clear: both;
      display: block; }
    .boxed .container .left {
      width: 47.8260869565%;
      float: left;
      margin-right: 4.347826087%;
      padding: 30px 0px 30px 30px; }
      @media screen and (max-width: 768px) {
        .boxed .container .left {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          padding: 30px 30px 5px 30px; } }
      @media screen and (max-width: 450px) {
        .boxed .container .left {
          padding: 30px 20px 5px 20px; } }
      .boxed .container .left.nopadding {
        padding: 0px 0px 0px 0px; }
      .boxed .container .left.people {
        height: 100%; }
        .boxed .container .left.people .row {
          height: 195px;
          margin-top: 1%; }
          .boxed .container .left.people .row div {
            width: 49%;
            height: 100%;
            display: inline-block; }
            .boxed .container .left.people .row div.one {
              background: url(./images/people/one.jpg) no-repeat center center;
              background-size: cover; }
            .boxed .container .left.people .row div.two {
              background: url(./images/people/two.jpg) no-repeat center center;
              background-size: cover; }
            .boxed .container .left.people .row div.three {
              background: url(./images/people/three.jpg) no-repeat center center;
              background-size: cover; }
            .boxed .container .left.people .row div.four {
              background: url(./images/people/four.jpg) no-repeat center center;
              background-size: cover; }
            .boxed .container .left.people .row div.five {
              background: url(./images/people/five.jpg) no-repeat center center;
              background-size: cover;
              border-bottom-left-radius: 20px; }
            .boxed .container .left.people .row div.six {
              background: url(./images/people/six.jpg) no-repeat center center;
              background-size: cover; }
          @media screen and (max-width: 768px) {
            .boxed .container .left.people .row {
              margin-bottom: 30px; }
              .boxed .container .left.people .row.hide {
                display: none; } }
    .boxed .container .right {
      width: 47.8260869565%;
      float: right;
      margin-right: 0;
      padding: 30px 30px 30px 0px; }
      @media screen and (max-width: 768px) {
        .boxed .container .right {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          padding: 5px 30px 30px 30px; } }
      @media screen and (max-width: 450px) {
        .boxed .container .right {
          padding: 30px 20px 5px 20px; } }
      .boxed .container .right.nopadding {
        padding: 0px 0px 0px 0px; }
      .boxed .container .right.meetBrainFuel {
        background: url("././images/meet-brainfuel.png") center center;
        background-size: cover;
        -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-topright: 20px;
        -moz-border-radius-bottomright: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; }
    .boxed .container .wide {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 0px 30px 30px 30px; }
  .boxed .wideTitle {
    width: 100%;
    float: none;
    padding: 0px 30px 0px 30px; }
    .boxed .wideTitle h2 {
      margin-bottom: 0px; }

.noPaddingBottom {
  padding-bottom: 0px !important; }

ul.methodesList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 0px; }
  ul.methodesList li {
    margin-bottom: 20px;
    border: 1px solid #dedede;
    display: inline-block;
    margin-top: 25px;
    width: 175px;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
    @media screen and (max-width: 450px) {
      ul.methodesList li {
        width: 100%; } }
    ul.methodesList li:hover {
      -webkit-box-shadow: 0px 0px 20px 0px #d0d0d0;
              box-shadow: 0px 0px 20px 0px #d0d0d0; }
    ul.methodesList li a {
      padding: 25px 25px 25px 25px;
      display: inline-block;
      text-decoration: none; }
      @media screen and (max-width: 450px) {
        ul.methodesList li a {
          width: 100%; } }
      ul.methodesList li a div.image {
        max-height: 70px; }
        ul.methodesList li a div.image img {
          max-height: 70px; }
      ul.methodesList li a h3 {
        margin-bottom: 0px;
        margin-top: 15px;
        -webkit-margin-after: 0px; }

#fancybox-wrap {
  max-width: 60% !important; }
  @media screen and (max-width: 768px) {
    #fancybox-wrap {
      max-width: 80% !important; } }
  @media screen and (max-width: 500px) {
    #fancybox-wrap {
      width: 100% !important;
      max-width: 90% !important;
      padding: 0px !important; } }

#fancybox-close {
  background: url(.//images/icons/close-icon.png) !important;
  width: 40px !important;
  height: 40px !important;
  opacity: 0.3 !important;
  top: 10px !important;
  right: 10px !important; }
  #fancybox-close:hover {
    opacity: 0.9 !important;
    cursor: pointer; }

#fancybox-content {
  max-width: 90% !important;
  padding: 20px !important;
  border-width: 0px !important; }

#fancybox-outer {
  -webkit-box-shadow: 0 0 20px 0px #7d7d7d !important;
          box-shadow: 0 0 20px 0px #7d7d7d !important; }

#fancybox-outer, #fancybox-content {
  border-radius: 20px; }
  #fancybox-outer img, #fancybox-content img {
    max-width: 100px;
    margin-left: 30px; }
  #fancybox-outer h2, #fancybox-content h2 {
    -webkit-margin-after: 0px;
    margin-bottom: 0px; }
  #fancybox-outer .smallText, #fancybox-content .smallText {
    margin-top: -5px; }

footer {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  width: 100%; }
  @media screen and (max-width: 768px) {
    footer {
      margin-top: -50px; } }
  footer:after {
    content: "";
    clear: both;
    display: block; }
  footer .left {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
    padding: 30px 0px 30px 0px; }
    @media screen and (max-width: 768px) {
      footer .left {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 30px 0px 30px 0px; } }
    footer .left.nopadding {
      padding: 0px 0px 20px 0px; }
  footer .right {
    width: 47.8260869565%;
    float: right;
    margin-right: 0;
    padding: 30px 0px 30px 0px; }
    @media screen and (max-width: 768px) {
      footer .right {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 5px 0px 30px 0px; } }
    footer .right.nopadding {
      padding: 0px 0px 20px 0px; }
  footer .wide {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 30px; }
  footer .credits {
    margin-top: -10px; }
    footer .credits span.creditsText {
      margin-top: -10px; }
    footer .credits a {
      display: inline-block;
      height: 60px;
      width: 60px;
      margin-left: 5px;
      margin-right: 2px; }
      footer .credits a img {
        position: absolute;
        height: 46px;
        margin-top: 29px; }

form.mc4wp-form input {
  width: 100%; }
  @media screen and (max-width: 768px) {
    form.mc4wp-form input {
      width: 80%; } }
  @media screen and (max-width: 500px) {
    form.mc4wp-form input {
      width: 100%; } }

form.mc4wp-form input[type=submit] {
  border: 0px solid;
  border-radius: 3px;
  background: #613c59;
  color: #ffffff;
  font-size: 12px;
  font-size: 17px;
  line-height: inherit;
  padding: 10px;
  margin-top: 11px; }

form.mc4wp-form .mc4wp-alert {
  font-style: italic; }

.btn {
  background: #98567D;
  display: inline-block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 8px; }
  .btn:hover {
    color: #ffffff;
    background: #884d70; }
  .btn:visited {
    color: #ffffff !important; }
  .btn.trans {
    opacity: 0.6; }
  .btn.pre-order {
    margin-right: 20px; }
  .btn.ghost {
    background: transparent;
    padding: 0px;
    margin-left: 20px;
    text-decoration: underline; }

span.live {
  margin-left: 10px; }

img.alien {
  margin-left: 275px;
  margin-top: -75px; }
  @media screen and (max-width: 500px) {
    img.alien {
      margin-left: 122px; } }

.stars {
  font-family: 'FontAwesome';
  color: #98567D;
  display: block;
  font-size: 20px; }

quote {
  font-style: italic;
  display: block;
  margin-bottom: 10px; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa; }

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }

a:visited {
  color: purple; }

a:hover, a:focus, a:active {
  color: midnightblue; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation ul ul {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation li {
  float: left;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }

.widget select {
  max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }
